.bundle
.sass-cache
_site
Gemfile.lock
_sass/bootstrap-sass/assets/fonts
_sass/bootstrap-sass/assets/javascripts
_sass/bootstrap-sass/assets/images
_sass/font-awesome/less
_sass/font-awesome/css
_sass/font-awesome/src
_sass/font-awesome/fonts
_sass/jquery
*.gem
assets/vendor/font-awesome/css
assets/vendor/font-awesome/help
assets/vendor/font-awesome/less
assets/vendor/font-awesome/scss
assets/vendor/font-awesome/*.md
assets/vendor/font-awesome/*.txt
assets/vendor/font-awesome/*.json
node_modules
vendor/bundle
package-lock.json
.jekyll-cache