<div class="text-center">
  <div class="row justify-content-center">
    {% assign num_links = site.contact_links | size %}
    {% assign col_size = 12 | | divided_by: num_links %}
    {% for link in site.contact_links %}
      <div class="col-sm-{{ col_size }} small">
        <a href="{{ link.url }}" rel="me" target="_blank" data-proofer-ignore="true" class="text-secondary">
          <i class="{{ link.icon }} fa-2x" aria-hidden="true"></i>
          <p>{{ link.name }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% if site.pgp_key %}
  <p class="small">
    <a href="{{ "key.asc" | absolute_url }}">PGP: <code>{{ site.pgp_key }}</code></a>
  </p>
  {% endif %}
</div>
