<div class="row border-top border-bottom pt-3">
  {% assign bio = site.pages | where:"title","About" %}
  {% assign bio = bio[0].content | newline_to_br | split:"<br />" %}
  {% assign about_url = "/about/" | relative_url %}
  <div class="col-sm-2">
    <div class="float-sm-right pt-1">{% avatar {{site.github.owner_name}} size=100 %}</div>
  </div>
  <div class="col-sm-8">
    {{ bio[0] | append:' <a href="URL">More about the author &rarr;</a>' | replace:"URL",about_url | markdownify }}
  </div>
  <div class="col-sm-2 text-center">
    <p class="small">This page is open source. Please {% github_edit_link "help improve it" %}.</p>
      <a class="btn btn-outline-primary btn-lg btn-sm" href="{% github_edit_link %}" title="Help improve article {{ page.path }}">Edit</a>
    </div>
</div>
