---
layout: default
---

<div class="row">
  <div class="col-md-10 offset-md-1">
      <article id="post{{ page.id | replace:"/","-" }}" class="post post{{ page.id | replace:"/","-" }}">

      <h1 class="display-4"><a href="{{ page.url | relative_url }}">{{ page.title | smartify }}</a></h1>

      <div class="small mb-2">
        <span class="fst-italic">Posted {{ page.date | date: '%B %-d, %Y' }}</span> |
        <a class="text-muted fst-italic" href="{{ site.github.repository_url }}/commits/{{ site.github.source.branch }}/{{ page.path }}" target="_blank" rel="noopener">View revision history</a>
      </div>

      <div class="entrybody">
        {{ content }}
      </div>

      {% if site.data.related_posts[page.relative_path] %}
        {% include related_posts.html %}
      {% endif %}

      {% include mini-bio.html %}
    </article>
  </div>
</div>
