name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
     #   with:
        #  bundler-cache: true 

      - uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: 'npm'

      - name: script/bootstrap
        run: script/bootstrap
        
      - name: script/cibuild
        run: script/cibuild

      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: _site
          retention-days: 1
        
  lighthouse:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: build
          path: _site

      - name: Use Node.js 16.x
        uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: 'npm'

      - name: run Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.8.x
          lhci autorun
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}